.navbar-brand {
  color: white;
  font-family: 'Rock Salt', cursive;
}

.profile-pic {
  padding-top: 20px;
  margin: 10px 10px;
  width: 20%;
  height: 20%;
}

.bike-pic {
  padding-top: 20px;
  position: relative;
  width: 20%;
  height: 20%;
}

.top-container {
  margin-top: 50px;
  background-color: #4a3f35;
}

#container {
  margin-top: 0;
}

h1 {
  margin-left: 100px;
  display: inline-block;
  color: white;
  font-family: 'Gochi Hand', cursive;
}

.bottom-container {
  text-align: center;
  background-color: black;
  margin-top: 0;
  padding: 90px 0 20px;
  height: 250px;
}

.roc-heading {
  padding: 10px;
  background-color: black;
  text-decoration: underline;
  display: block;
  margin: 0;
}

.footer:hover {
  color: #979797;
}

.footer {
  padding: 0 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

p {
  color: white;
  font-family: 'Gochi Hand', cursive;
}

.description {
  padding: 8px;
  margin-bottom: 0;
}

/* images for rules of Composition*/
.row-1 {
  padding-top: 40px;
  margin-top: 50px;
  width: 40%;
  margin: 8px;
}

.row-2 {
  margin-top: 50px;
  width: 40%;
  margin: 8px;
}

.row-3 {
  margin-top: 50px;
  width: 40%;
  margin: 8px;
}

.row-4 {
  margin-top: 50px;
  width: 40%;
  margin: 8px;
  padding-bottom: 40px;
}
